@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+QLD+Beginner&display=swap');

/********** Remove default styles **********/
* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    font-family: "Edu QLD Beginner", sans-serif;
    text-align: center;
    list-style: none;
}

#logo {
    font-family: "Dancing Script", sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

/* burger menu */
.topnav {
    overflow: hidden;
    background-color: #ddd;
    position: relative;
}

.topnav #links {
    display: none;
}

.topnav a {
    color: #252525;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #D789E4;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #D789E4;
    color: white;
}

#logo:hover {
    background-color: #D789E4;
}

/* //////////////////////////////// */

#heading {
    text-align: center;
    padding: 10px 5px;
}

#heading h1 {
    font-weight: lighter;
    font-size: 25px;
}