@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+QLD+Beginner&display=swap');

/********** Remove default styles **********/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Base styles */
* {
    font-family: "Edu QLD Beginner", sans-serif;
    font-weight: lighter;
    text-align: center;
    list-style: none;
}

#logo {
    font-family: "Dancing Script", sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

/* Burger menu */
.topnav {
    overflow: hidden;
    background-color: #ddd;
    position: relative;
}

.topnav #links {
    display: none;
}

.topnav a {
    color: #252525;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #D789E4;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #D789E4;
    color: white;
}

#logo:hover {
    background-color: #D789E4;
}

/* //////////////////////////////// */

#heading {
    text-align: center;
    padding: 10px 5px;
}

#heading h1 {
    font-size: 25px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 15px; 
}

.container * {
    margin: 10px;
}

.border {
    background-color: white;
}

.border {
    max-width: 480px;
    border: 1px solid #252525;
    border-radius: 35px;
    padding: 0 5px 10px 5px;
    margin: 0 5px 10px 5px;
    position: relative;
}

/* Shadow on main container across all pages, code adapted from https://neumorphism.io/#ffffff */
.shadow {
    border-radius: 35px;
    background: linear-gradient(225deg, #ffffff, #EFEFEF);
    box-shadow:  -5px 8px 28px #666666, 5px 2px 28px #ffffff;
}

input {
    width: 80%;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
    background-image: url(../images/magnifying-glass-solid.webp);
    background-size: 26px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    text-align: left;
}